<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218014245243-l0lai3jl0ko8qodjckk1arafitded526.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218014245243-l0lai3jl0ko8qodjckk1arafitded526</string>
	<key>API_KEY</key>
	<string>AIzaSyCsCvKpNLuQ9hAuQ1RYTeexGlisv3EDY98</string>
	<key>GCM_SENDER_ID</key>
	<string>218014245243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.Skills4lifeapp</string>
	<key>PROJECT_ID</key>
	<string>skills4lifeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>skills4lifeapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218014245243:ios:d63baf2c9509b977cbddde</string>
</dict>
</plist>